<aside>
  <div>
    <div class="bg-dark p-4">
      <h4 class="text-white">Premier League</h4>
      <span class="text-muted">Inglaterra.</span>
      <hr>

      <h4 class="text-white">La Liga</h4>
      <span class="text-muted">España.</span>
      <hr>

      <h4 class="text-white">Bundesliga</h4>
      <span class="text-muted">Alemania.</span>
      <hr>
          
      <h4 class="text-white">Calcio</h4>
      <span class="text-muted">Italia.</span>
      <hr>

      <h4 class="text-white">Ligue 1</h4>
      <span class="text-muted">Francia.</span>
      <hr>
        
      <h4 class="text-white">Liga MX</h4>
      <span class="text-muted">México.</span>
      <hr>

      <h4 class="text-white">Brasileirão</h4>
      <span class="text-muted"> Brasil.</span>
      <hr>

      <h4 class="text-white">Superliga Argentina</h4>
      <span class="text-muted">Argentina</span>
    </div>
  </div>
</aside>