<aside>
  <%  
		let ligas = [
      {nombre: 'Premier League', pais: 'Inglaterra'}, 
      {nombre: 'La Liga', pais: 'España'}, 
      {nombre: 'Bundesliga', pais: 'Alemania'}, 
      {nombre: 'Calcio', pais: 'Italia'}, 
      {nombre: 'Ligue 1', pais: 'Francia'}, 
      {nombre: 'Liga MX', pais: 'México'}, 
    ];
	%>  

  <div class="aside-style">  
    <div class="bg-dark p-4">  
      <% for (const liga of ligas) { %>    
        <h5 class="text-white"><%= liga.nombre %></h5>
        <span class="text-muted"><%= liga.pais %></span>
        <hr>
      <% } %>
    </div>
  </div> 
</aside>