<footer>
  <div class="footer-content bg-dark">
    <div class="footer-icons-social">
      <button class="footer-icons-social-btn">
        <a href="https://m.facebook.com/?locale2=es_LA" target="_blank">
          <img class="footer-icon-img-social" src="/images/icons/rrss/facebook.png" alt="logoFacebook">
        </a>
      </button>
          
      <button class="footer-icons-social-btn">
        <a href="https://twitter.com/?lang=es" target="_blank">
          <img class="footer-icon-img-social" src="/images/icons/rrss/twitter.png" alt="logoTwitter">
        </a>
      </button>
        
      <button class="footer-icons-social-btn">
        <a href="https://www.instagram.com/?hl=es" target="_blank">
          <img class="footer-icon-img-social" src="/images/icons/rrss/instagram.png" alt="logoInstagram">
        </a>
      </button>
    </div>
    
    <div class="footer-icons-brand">
      <div class="footer-icons-brand-logo">
        <img class="footer-icon-img-brand" src="/images/icons/brands/adidas.png" alt="logoAdidas">
      </div>
      
      <div class="footer-icons-brand-logo">
        <img class="footer-icon-img-brand" src="/images/icons/brands/reebok.png" alt="logoReebok">
      </div>
        
      <div class="footer-icons-brand-logo">
        <img class="footer-icon-img-brand" src="/images/icons/brands/underarmour.png" alt="logoUnderArmour">
      </div>
          
      <div class="footer-icons-brand-logo">
        <img class="footer-icon-img-brand" src="/images/icons/brands/converse.png" alt="logoConverse">
      </div>
        
      <div class="footer-icons-brand-logo">
        <img class="footer-icon-img-brand" src="/images/icons/brands/vans.png" alt="logoVans">
      </div>
        
      <div class="footer-icons-brand-logo">
        <img class="footer-icon-img-brand" src="/images/icons/brands/atletica.png" alt="logoAtlética">
      </div>
        
      <div class="footer-icons-brand-logo">
        <img class="footer-icon-img-brand" src="/images/icons/brands/puma.png" alt="logoPuma">
      </div>
        
      <div class="footer-icons-brand-logo">
        <img class="footer-icon-img-brand" src="/images/icons/brands/pirma.png" alt="logoPirma">
      </div>
        
      <div class="footer-icons-brand-logo">
        <img class="footer-icon-img-brand" src="/images/icons/brands/joma.png" alt="logoJoma">
      </div>
    </div>
        
    <div>
      <p>(C) <b>SoccerWorld</b> Todos los derechos reservados, 2022</p>
    </div>
  </div>
</footer>