<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Home</title>
  </head>
  
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">SoccerWorld</a>
              
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Hombres</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mujeres</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Niños</a>
            </li>
          </ul>
            
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Categoría" aria-label="Search">
            <button class="header-button">
              <a href="https://www.instagram.com/?hl=es" target="_blank">
                <img class="header-icon" src="/img/icons/buttons/buscar.png" alt="iconoBuscar">
              </a>
            </button>
            <button class="header-button">
              <a href="https://www.instagram.com/?hl=es" target="_blank">
                <img class="header-icon" src="/img/icons/buttons/carrito.png" alt="iconoCarrito">
              </a>
            </button>
            <button class="header-button">
              <a href="https://www.instagram.com/?hl=es" target="_blank">
                <img class="header-icon" src="/img/icons/buttons/user.png" alt="iconoUsuario">
              </a>
            </button>
          </form>
        </div>
      </nav>
    </header>
        
    <main class="main-content">
      <aside>
        <div>
          <div class="bg-dark p-4">
            <h4 class="text-white">Premier League</h4>
            <span class="text-muted">Inglaterra.</span>
            <hr>

            <h4 class="text-white">La Liga</h4>
            <span class="text-muted">España.</span>
            <hr>

            <h4 class="text-white">Bundesliga</h4>
            <span class="text-muted">Alemania.</span>
            <hr>
              
            <h4 class="text-white">Calcio</h4>
            <span class="text-muted">Italia.</span>
            <hr>

            <h4 class="text-white">Ligue 1</h4>
            <span class="text-muted">Francia.</span>
            <hr>

            <h4 class="text-white">Liga MX</h4>
            <span class="text-muted">México.</span>
            <hr>

            <h4 class="text-white"> Brasileirão</h4>
            <span class="text-muted"> Brasil.</span>
            <hr>

            <h4 class="text-white">Superliga Argentina</h4>
            <span class="text-muted">Argentina</span>
          </div>
        </div>
      </aside>
      
      <section class="flex-product-detail">   
        <article>
          <div>
            <h2><b>Chelsea</b></h2>
            <img class="flex-product-detail-img" src="/img/product_1.jpg">
          </div>
        </article>
              
        <article>
          <h3>Local 2021/2022</h3>
          <h5>$900 MX</h5>
                
          <hr>
          
          <h4>Tallas disponibles</h4>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="radio" name="options" id="option1" autocomplete="off" checked> XS
            </label>
            
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option2" autocomplete="off"> S
            </label>
            
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option3" autocomplete="off"> M
            </label>

            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option3" autocomplete="off"> L
            </label>

            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option3" autocomplete="off"> XL
            </label>

            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option3" autocomplete="off"> XXL
            </label>
          </div>
          
          <hr>
          
          <h4>Cantidad</h4>
          <div class="input-group">       
            <input type="text" class="form-control" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
                  
            <div class="input-group-append" id="button-addon4">
              <button class="btn btn-outline-secondary" type="button">+</button>
              <button class="btn btn-outline-secondary" type="button">-</button>
            </div>
          </div>
      
          <hr>
      
          <button type="button" class="btn btn-primary btn-lg">Comprar</button>
        </article>
      </section>
    </main>
        
    <footer>
      <div class="footer-content bg-dark">
        <div class="footer-icons-social">
          <button class="footer-icons-social-btn">
            <a href="https://m.facebook.com/?locale2=es_LA" target="_blank">
              <img class="footer-icon-img-social" src="/img/icons/rrss/facebook.png" alt="logoFacebook">
            </a>
          </button>
            
          <button class="footer-icons-social-btn">
            <a href="https://twitter.com/?lang=es" target="_blank">
              <img class="footer-icon-img-social" src="/img/icons/rrss/twitter.png" alt="logoTwitter">
            </a>
          </button>
          
          <button class="footer-icons-social-btn">
            <a href="https://www.instagram.com/?hl=es" target="_blank">
              <img class="footer-icon-img-social" src="/img/icons/rrss/instagram.png" alt="logoInstagram">
            </a>
          </button>
        </div>
      
        <div class="footer-icons-brand">
          <div class="footer-icons-brand-logo">
              <img class="footer-icon-img-brand" src="/img/icons/brands/adidas.png" alt="logoAdidas">
            </div>
            <div class="footer-icons-brand-logo">
              <img class="footer-icon-img-brand" src="/img/icons/brands/reebok.png" alt="logoReebok">
            </div>
          
            <div class="footer-icons-brand-logo">
              <img class="footer-icon-img-brand" src="/img/icons/brands/underarmour.png" alt="logoUnderArmour"></div>
          
            <div class="footer-icons-brand-logo">
              <img class="footer-icon-img-brand" src="/img/icons/brands/converse.png" alt="logoConverse">
            </div>
          
            <div class="footer-icons-brand-logo">
              <img class="footer-icon-img-brand" src="/img/icons/brands/vans.png" alt="logoVans">
            </div>
          
            <div class="footer-icons-brand-logo">
              <img class="footer-icon-img-brand" src="/img/icons/brands/atletica.png" alt="logoAtlética">
            </div>
          
            <div class="footer-icons-brand-logo">
              <img class="footer-icon-img-brand" src="/img/icons/brands/puma.png" alt="logoPuma">
            </div>
          
            <div class="footer-icons-brand-logo">
              <img class="footer-icon-img-brand" src="/img/icons/brands/pirma.png" alt="logoPirma">
            </div>
          
            <div class="footer-icons-brand-logo">
              <img class="footer-icon-img-brand" src="/img/icons/brands/joma.png" alt="logoJoma">
            </div>
          </div>

          <div>
            <p>(C) <b>SoccerWorld</b> Todos los derechos reservados, 2022</p>
        </div>
      </div>
    </footer>
  </body>
</html>
