<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Home</title>
  </head>
  
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">SoccerWorld</a>
              
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Hombres</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mujeres</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Niños</a>
            </li>
          </ul>
            
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Categoría" aria-label="Search">
          </form>

          <button class="header-button">
            <a href="/productos/detalles"> 
              <img class="header-icon" src="/img/icons/buttons/buscar.png" alt="botonBuscar">
            </a>
          </button>

          <button class="header-button">
            <a href="/carrito/productos">
              <img class="header-icon" src="/img/icons/buttons/carrito.png" alt="botonCarrito">
            </a>
          </button>

          <button class="header-button">
            <a href="/usuarios/acceso">
              <img class="header-icon" src="/img/icons/buttons/user.png" alt="botonUsuario">
            </a>
          </button>
        </div>
      </nav>
    </header>
        
    <main class="main-content form-content">          
      <section>
        <h2 class="form-title">Registro</h2>

        <hr>

        <form>
          <div class="form-group">
            <label for="inputEmail4">Usuario</label>
            <input type="text" class="form-control" id="inputEmail4">
          </div>

          <div class="form-group">
            <label for="inputAddress">Email</label>
            <input type="email" class="form-control" id="inputAddress">
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Contraseña</label>
              <input type="password" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Confirmar contraseña</label>
              <input type="password" class="form-control" id="inputPassword4">
            </div>
          </div>

          <hr>
          
          <div class="form-group">
            <label for="exampleFormControlFile1">Foto de perfil</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>

          <hr>

          <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
      </section>
    </main>
        
    <footer>
      <div class="footer-content bg-dark">
        <div class="footer-icons-social">
          <button class="footer-icons-social-btn">
            <a href="https://m.facebook.com/?locale2=es_LA" target="_blank">
              <img class="footer-icon-img-social" src="/img/icons/rrss/facebook.png" alt="logoFacebook">
            </a>
          </button>
            
          <button class="footer-icons-social-btn">
            <a href="https://twitter.com/?lang=es" target="_blank">
              <img class="footer-icon-img-social" src="/img/icons/rrss/twitter.png" alt="logoTwitter">
            </a>
          </button>
          
          <button class="footer-icons-social-btn">
            <a href="https://www.instagram.com/?hl=es" target="_blank">
              <img class="footer-icon-img-social" src="/img/icons/rrss/instagram.png" alt="logoInstagram">
            </a>
          </button>
        </div>
      
        <div class="footer-icons-brand">
          <div class="footer-icons-brand-logo">
              <img class="footer-icon-img-brand" src="/img/icons/brands/adidas.png" alt="logoAdidas">
            </div>
            <div class="footer-icons-brand-logo">
              <img class="footer-icon-img-brand" src="/img/icons/brands/reebok.png" alt="logoReebok">
            </div>
          
            <div class="footer-icons-brand-logo">
              <img class="footer-icon-img-brand" src="/img/icons/brands/underarmour.png" alt="logoUnderArmour"></div>
          
            <div class="footer-icons-brand-logo">
              <img class="footer-icon-img-brand" src="/img/icons/brands/converse.png" alt="logoConverse">
            </div>
          
            <div class="footer-icons-brand-logo">
              <img class="footer-icon-img-brand" src="/img/icons/brands/vans.png" alt="logoVans">
            </div>
          
            <div class="footer-icons-brand-logo">
              <img class="footer-icon-img-brand" src="/img/icons/brands/atletica.png" alt="logoAtlética">
            </div>
          
            <div class="footer-icons-brand-logo">
              <img class="footer-icon-img-brand" src="/img/icons/brands/puma.png" alt="logoPuma">
            </div>
          
            <div class="footer-icons-brand-logo">
              <img class="footer-icon-img-brand" src="/img/icons/brands/pirma.png" alt="logoPirma">
            </div>
          
            <div class="footer-icons-brand-logo">
              <img class="footer-icon-img-brand" src="/img/icons/brands/joma.png" alt="logoJoma">
            </div>
          </div>

          <div>
            <p>(C) <b>SoccerWorld</b> Todos los derechos reservados, 2022</p>
        </div>
      </div>
    </footer>
  </body>
</html>