<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  
  <body>
    <%- include('./partials/navbar') %>
        
    <main class="main-page">  
      <%- include('./partials/aside') %>

      <section class="not-found">
        <h2>Página No Encontrada</h2>
        <hr>
        <img class="not-found-icon" src="/images/icons/not-found.png" alt="botonNotFound">
      </section>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
