/*--------------------------------------  header --------------------------------------*/
.header-button {
    border-radius:20%;
    height: 6vh;
    width: 4vw;
    margin: 3px;
}

.header-icon {
    height: 5vh;
}
/*-------------------------------------------------------------------------------------*/

/*---------------------------------------  main ---------------------------------------*/
.main-content {
    display: flex;
    text-align: center;
}

.page-title {
    font-size: 9vh;
    margin: 8px;
    padding: 12px;
}
/*-------------------------------------------------------------------------------------*/

/*--------------------------------------  footer --------------------------------------*/
.footer-content {
    color: white;
    text-align: center;
    padding: 5px;
}

.footer-icons-social {
    display:flex;
    justify-content:flex-end;
    margin: 5px;
}

.footer-icons-social-btn {
    border-radius:40%;
    height:10vh;
    width:5vw;
    margin: 3px;
    padding: 3px;
}

.footer-icon-img-social {
    height: 8vh;
}

.footer-icons-brand {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
}

.footer-icons-brand-logo {
    margin: 10px 40px;
    padding: 12px;
    border-radius: 10%;
    background-color: rgb(218, 207, 207);
}

.footer-icon-img-brand {
    height: 10vh;
}
/*-------------------------------------------------------------------------------------*/


/*------------------------------------  index.html ------------------------------------*/
.flex-product-category {
    font-size: 9vh;
    margin: 9px;
    padding: 5px;
}

.flex-products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
}

.flex-product-img {
    height: 42vh;
    width: 18vw;
}
/*-------------------------------------------------------------------------------------*/

/*--------------------------------  productDetail.html --------------------------------*/
.flex-product-detail {
    display: flex;
    padding: 30px;
}

.flex-product-detail-img {
    height: 95vh;
}
/*-------------------------------------------------------------------------------------*/

/*-----------------------------  register.html/login.html -----------------------------*/
.form-content {
    justify-content: center;
    padding: 40px;
}

.form-title {
    font-size: 7vh;
}

/*-------------------------------------------------------------------------------------*/

/*---------------------------------------  main ---------------------------------------*/
.flex-cart-detail{
    display:flex;
    padding: 10px;
    justify-items: center;
}

.flex-cart-contain {
    padding: 60px;
    margin: 10px 50px;
}

.flex-cart-detail-img {
    height: 50vh;
}

/*-------------------------------------------------------------------------------------*/

/*---------------------------------------  main ---------------------------------------*/
.admin-button {
    border-radius:20%;
    height: 10vh;
    width: 5vw;
    margin: 15px;
    padding: 5px;
}
/*-------------------------------------------------------------------------------------*/

/*-------------------------------------  list.ejs -------------------------------------*/
.product-button {
    border-radius:20%;
    height: 10vh;
    width: 5vw;
    margin: 15px;
    padding: 15px;
}

.list-products-options {
    padding: 20px;
    margin: 5px;
}

.product-list-content {
    padding: 20px 60px;
    display: flex;
    justify-items: center;
}

/*-------------------------------------------------------------------------------------*/

/*---------------------------------------  main ---------------------------------------*/
.not-found {
    width: 80%;
    margin: 50px;
    padding: 50px;
    text-align: center;
}

.not-found-icon {
    height: 60vh; 
}
/*-------------------------------------------------------------------------------------*/
/*---------------------------------------  main ---------------------------------------*/
.flex-product-edit {
    display: flex;
    margin: 20px;
    padding: 40px;
}

.flex-product-edit-img {
    height: 60vh;
}
/*-------------------------------------------------------------------------------------*/
/*---------------------------------------  main ---------------------------------------*/
/*-------------------------------------------------------------------------------------*/
